header {
  background-color: $blue;
  width: 100%;
  min-height: 140px;
  margin-bottom: 20px;
  color: white;

  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    padding: 30px 15px 10px;
  }

  p {
    padding: 10px 15px;
    font-size: .75rem;
    width: 65%;

  }

}